<section id="contact">
    <div class="contact-container">
        <div class="label">Contact me</div>
        <h2>Let's work together</h2>
        <h3>Got a problem to solve?</h3>
        <span>
            Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to
            your projects with my work.
            <br>
            Need a Frontend developer? <span>Let's talk!</span>
        </span>
    </div>
    <form class="contactform" action="">
        <div class="dekorow"></div>
        <div class="contactfield">
            <label for="inputName">What's your name?</label>
            <input type="name" id="inputName" placeholder="Your name goes here">
        </div>
        <div class="dekorow"></div>
        <div class="contactfield">
            <label for="inputEmail">What's your email?</label>
            <input type="email" id="inputEmail" placeholder="youremail@email.com">
        </div>
        <div class="dekorow"></div>
        <div class="contactfield">
            <label for="inputMessage">How can i help you?</label>
            <input type="text" id="inputMessage" placeholder="Hello Norman, I am interested in ... ">
        </div>
        <div class="dekorow"></div>
        <div class="contactform-bottom">
            <div>
                <input type="checkbox" id="checkbox">
                <label for="checkbox"></label>
                <span>I've read the <a href="">privacy policy</a><br>and agree to the processing of my data as 
                    outlined.</span>
            </div>
            <button type="submit"><span>Say Hello ;)</span></button>
        </div>
    </form>

</section>