<section id="projects">
    <div class="projects-container">
        <div class="projects-top">
            <div class="label fontKarla">Portfolio</div>
            <h2 class="fontFiraCode">Featured Projects</h2>
            <span class="fontKarla">
                Explore a selection of my work here - Interact with projects to see my skills in action.
            </span>
        </div>
        <div class="projects-bottom">
            <div class="separator"></div>
            <div class="project">
                <h3 class="fontFiraCode">Join</h3>
                <span class="fontKarla">Javascript <span>|</span> HTML <span>|</span> CSS <span>|</span> Fetch API</span>
            </div>
            <div class="separator"></div>
            <div class="project">
                <h3 class="fontFiraCode">Blades & Slimes</h3>
                <span class="fontKarla">HTML <span>|</span> CSS <span>|</span> JavaScript</span>
            </div>
            <div class="separator"></div>
            <div class="project">
                <h3 class="fontFiraCode">DA Bubble</h3>
                <span class="fontKarla">Angular <span>|</span> Firebase <span>|</span> TypeScript</span>
            </div>
            <div class="separator"></div>
        </div>
    </div>
</section>