<section>
    <app-navbar></app-navbar>
    <div class="titleContainer">
        <h2 class="fontFiraCode">Frontend Developer</h2>
        <h1 class="fontKarla">Norman Sprenger</h1>
        <div class="links">
            <a href="#projects" class="link fontKarla"><span>Check my work</span></a>
            <a href="#contact" class="link fontKarla"><span>Contact me</span></a>
        </div>
    </div>
    <div class="left-lateral">
        <a href="#aboutMe" class="rectangle">
            <img src="/assets/img/icons/arrowDown.png" alt="">
        </a>
        <div class="design-column-left"></div>
    </div>
    <div class="right-lateral">
        <div class="icon-box">

            <a href="mailto:normansprenger@gmail.com" target="_blank"><img src="./assets/img/icons/mailIcon.png"
                    alt=""></a>
            <div class="activity-pointer"></div>
        </div>
        <div class="icon-box">

            <a href="https://github.com/normansprenger" target="_blank"><img src="./assets/img/icons/gitHubIcon.png"
                    alt=""></a>
            <div class="activity-pointer"></div>
        </div>
        <div class="icon-box">

            <a href="https://linkedin.de" target="_blank"><img src="./assets/img/icons/linkedinIcon.png" alt=""></a>
            <div class="activity-pointer"></div>
        </div>
        <div class="design-column-right"></div>
    </div>
    <div class="marqee-container">
        <div class="marquee-wrapper">
            <div class="marquee">
                <span>Based near Dresden</span>
                <span>&bull;</span>
                <span>Frontend Developer</span>
                <span>&bull;</span>
                <span>Open to work</span>
                <span>&bull;</span>
                <span>Available for remote work</span>
                <span>&bull;</span>
                <span>Based near Dresden</span>
                <span>&bull;</span>
                <span>Frontend Developer</span>
                <span>&bull;</span>
                <span>Open to work</span>
                <span>&bull;</span>
                <span>Available for remote work</span>
                <span>&bull;</span>
            </div>
        </div>
    </div>

</section>