section {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden !important;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: calc(50vh - 90px);

    h2 {
        color: #D9D9D9;
        font-size: 24px;
        margin: 0;
        font-weight: 400;
        margin-bottom: 12px;
    }

    h1 {
        font-size: 60px;
        margin: 0;
        color: #D9D9D9;
        text-align: center;
    }
}

.links {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    gap: 24px;

    a {
        text-decoration: none;
        font-size: 18px;
        font-weight: 400;
        color: #D9D9D9;
        border: 1px solid #D9D9D9;
        border-radius: 100px;
        padding: 10px;
        cursor: pointer;
        transition: 0.3s ease-in;
        overflow: hidden;

        span {
            color: #D9D9D9;
            transition: color 0.3s ease-in, transform 1s ease-in;
            display: inline-block;
        }

        &:hover {
            border-color: #3DCFB6;

            span {
                color: #3DCFB6;
                transform: translateX(-130px);
                animation: 2s linear 1s slideIn infinite;
            }
        }
    }

}

@keyframes slideIn {
    0% {
        translate: 260px 0px;
    }

    100% {
        transform: translateX(-130px);
    }
}

.left-lateral {
    position: absolute;
    left: 16px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.rectangle {
    width: 30px;
    height: 48px;
    gap: 0px;
    border-radius: 32px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #3DCFB6;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;

    &:hover {
        transform: scale(1.3);
    }

    img {
        height: 16px;
        width: 10px;
        animation: bounce 1s infinite;
        position: relative;
        bottom: 5px;
    }
}

.design-column-left {
    width: 1px;
    height: 224px;
    background-color: #3DCFB6;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
        /* Adjust the bounce height here */
    }
}

.right-lateral {
    position: absolute;
    right: 16px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.design-column-right {
    margin-top: 12px;
    width: 1px;
    height: 112px;
    background-color: #D9D9D9;
}

.icon-box {
    position: relative;
    left: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    img {
        height: 32px;
        width: 32px;
        transition: 0.2s ease-in-out;
    }

    .activity-pointer {
        width: 8px;
        height: 8px;
        background-image: url(../../../assets/img/icons/activity_pointer.png);
        opacity: 0;
        transition: 0.2s ease-in-out;
    }

    &:hover {
        img {
            filter: brightness(4);
        }

        .activity-pointer {
            display: block;
            opacity: 1;
        }
    }
}

.marqee-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 120px;
    top: 85vh;
    overflow: hidden;
}

.marquee-wrapper {
    width: 100%;
    max-width: 100vw;
    height: 53px;
    top: 85vh;
    padding: 12px 32px;
    overflow: hidden; /* Wichtig für Overflow-Problem */
    background: #FFFFFF1F;
    transform: rotate(-2deg);
}

.marquee {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 15s linear infinite; /* Animiere das Marquee */
}

.marquee span {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    padding-left: 25px;
    padding-right: 25px;
    white-space: nowrap; /* Verhindert den Textumbruch */
    color: #3DCFB6;
}

@keyframes scroll {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%); /* Verschiebt den Inhalt um 50%, sodass die Duplikate lückenlos scrollen */
    }
}
