section {
    width: 100vw;
    max-width: 100%;
    background: radial-gradient(22.43% 43.85% at 1.22% 52.45%, rgb(8, 70, 59) 0%, #1C1C1C 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding: 80px 16px;
}

.label {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.04px;
    text-align: left;
    width: 100%;
    color: #3DCFB6 !important;
    margin-bottom: 15px;
    position: relative;
    right: 32px;
    bottom: 70px;
}

.skillset-container {
    padding: 24px 32px 24px 32px;
    gap: 32px;
    border-radius: 30px;
    border: 1px solid #3DCFB6;
    background: #3DCFB61A;
    max-width: 360px;

    h2 {
        font-size: 50px;
        color: #3DCFB6;
        margin-bottom: 32px;
    }

    span {
        font-size: 16px;
        color: white;
    }

    h3 {
        font-size: 20px;
        font-weight: 700;
        color: white;
        margin-top: 24px;
        margin-bottom: 12px;

        span {
            font-size: 20px;
            font-weight: 700;
            color: #3DCFB6;
        }
    }
}

.letstalk-container {
    width: 100%;
    justify-content: left;
    align-items: center;
    margin-top: 32px;

    a {
        text-decoration: none;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.6px;
        text-align: left;
        color: white;
        padding: 10px 24px 10px 24px;
        border-radius: 100px;
        border: 1px solid #FFFFFF
    }
}

.skills-container {
    max-width: 360px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 40px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 104px;
    height: 84px;

    img {
        width: 64px;
        height: 64px;

        &:hover {
            animation: bounce 0.8s infinite ease-in-out;
        }
    }

    span {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        letter-spacing: -0.03em;
        text-align: center;
        color: white;
    }
}

.wanna-learn{
    transition: 0.2s ease-in-out;
    position: relative;
    bottom: 210px;
    left: 40px;
    width: 188px !important;
    height: 129px !important;
    animation: none !important;
}


@keyframes bounce {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1.0);
    }
}