<section>
    <div class="skillset-container">
        <span class="label fontKarla">Technologies</span>
        <div class="skillset">
            <h2 class="fontFiraCode">Skill Set</h2>
            <span class="fontKarla">
                My journey has involved working on diverse projects, employing a range of frontend technologies and concepts. I am open to embracing new technologies and methodologies to Continously enhance my skills and stay ahead in the ever-evolving landscape of web development.
            </span>
            <h3 class="firaCode">You need <span class="FiraCode">another skill?</span></h3>
            <span class="fontKarla">Feel free to contact me. I look forward to expanding on my previous knowledge</span>
            <div class="letstalk-container">
                <a class="fontKarla" href="#contact">Let's Talk</a>
            </div>
        </div>
    </div>

    <div class="skills-container">
        <div class="skill">
            <img src="./assets/img/icons/htmlIcon.png" alt="skill image">
            <span>HTML</span>
        </div>
        <div class="skill">
            <img src="./assets/img/icons/cssIcon.png" alt="skill image">
            <span>CSS</span>
        </div>
        <div class="skill">
            <img src="./assets/img/icons/javascriptIcon.png" alt="skill image">
            <span>JavaScript</span>
        </div>
        <div class="skill">
            <img src="./assets/img/icons/materialdesignIcon.png" alt="skill image">
            <span>Material Design</span>
        </div>
        <div class="skill">
            <img src="./assets/img/icons/typescriptIcon.png" alt="skill image">
            <span>TypeScript</span>
        </div>
        <div class="skill">
            <img src="./assets/img/icons/angularIcon.png" alt="skill image">
            <span>Angular</span>
        </div>
        <div class="skill">
            <img src="./assets/img/icons/firebaseIcon.png" alt="skill image">
            <span>Firebase</span>
        </div>
        <div class="skill">
            <img src="./assets/img/icons/gitIcon.png" alt="skill image">
            <span>GIT</span>
        </div>
        <div class="skill">
            <img src="./assets/img/icons/restapiIcon.png" alt="skill image">
            <span>Rest-Api</span>
        </div>
        <div class="skill">
            <img src="./assets/img/icons/scrumIcon.png" alt="skill image">
            <span>Scrum</span>
        </div>
        <div class="skill" (mouseenter)="showWannaLearn()" (mouseleave)="hideWannaLearn()">
            <img src="./assets/img/icons/growthIcon.png" alt="skill image" class="growth-icon">
            <span style="color: #3DCFB6;">Growth<br>mindset</span>
            <img src="./assets/img/icons/wannaLearn.png" alt="" class="wanna-learn" [ngStyle]="{'opacity': wannaLearnVisible ? '1' : '0', 'visibility': wannaLearnVisible ? 'visible' : 'hidden'}">
        </div>
    </div>
</section>
